.head {
  padding: 1px;
  background: none repeat scroll 0% 0% #991616; }

.content {
  color: blue;
  padding: 20px;
  border: 1px solid gray; }

.footer {
  padding: 1px;
  background: none repeat scroll 0% 0% #991616; }
  .footer p {
    font-size: large;
    white-space: pre-wrap; }

.pre {
  font-size: large;
  text-indent: 1cm; }

.espacio {
  top: 20px; }
  .espacio p {
    color: #ffffff;
    font-size: large;
    text-shadow: #000 2px 2px 3px; }

.espacio_blank {
  top: 20px; }
  .espacio_blank p {
    font-size: large;
    text-shadow: #555 -1px 2px 2px; }

.list_striped > tbody > tr:nth-of-type(odd) {
  background-color: #E5E6E8; }

.list_striped > tbody > tr::first-line {
  text-align: center; }

.seleccionado {
  background-color: #828689 !important; }
  .seleccionado span {
    color: #991616; }

.ltr_cabecera {
  color: #ffffff;
  text-shadow: #000 2px 2px 3px; }

h1.ltr_cabecera {
  font-size: 45px; }

.tabla_style {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 8px;
  line-height: 1.42857;
  border-top: 1px solid #dddddd;
  overflow: scroll;
  height: 500px; }
  .tabla_style tbody > tr:hover {
    background-color: #777474; }

span {
  cursor: pointer; }

.media_imagen {
  width: 50%; }

.pequena_imagen {
  width: 25%; }

.red_social_imagen {
  font-size: 135%; }

.mega_icon {
  font-size: 200%; }

/*# sourceMappingURL=main.css.map */
