@import "variables.scss";

.head{
  padding: 1px;
  background: none repeat scroll 0% 0% $color;
}
.content{
  color: blue;
  padding: 20px;
  border: 1px solid $contentColor;
}

.footer{
  padding: 1px;
  background: none repeat scroll 0% 0% $color;

  p{
    font-size: large;
    white-space:pre-wrap;
  }
}

.pre{
  font-size: large;
  text-indent: 1cm;
}
.espacio{
  top:20px;
  p{
    color: $ltrCabecera;
    font-size: large;
    text-shadow: #000 2px 2px 3px;
  }
}

.espacio_blank{
  top:20px;
  p{
    font-size: large;
    text-shadow: #555 -1px 2px 2px;
  }
}


.list_striped > tbody> tr:nth-of-type(odd) {
  background-color:$lisStriped ;
}
.list_striped > tbody> tr::first-line {
  text-align: center;
}
.seleccionado {
  background-color:$rowSeleccinado!important;
  span{
    color: $color;
  }
}
.ltr_cabecera{
  color: $ltrCabecera;
  text-shadow: #000 2px 2px 3px;
}
h1.ltr_cabecera{
  font-size:45px;
}
.tabla_style {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 8px;
  line-height: 1.42857;
  border-top: 1px solid rgb(221, 221, 221);
  overflow:scroll;
  height:500px;
  tbody>tr:hover {
      background-color: $rowHover;
  }
}

span{
  cursor: pointer;
}
//uso mixin
@mixin imageMedia {
  width:50%;
}
@mixin imagePequena {
  width:25%;
}
@mixin imageAdapt {
  font-size: 135%
}
@mixin megaIcon {
  font-size: 200%
}


.media_imagen{
  @include imageMedia;
}
.pequena_imagen{
  @include imagePequena;
}
.red_social_imagen{
  @include imageAdapt;
}
.mega_icon{
  @include megaIcon;
}
